.env*
.build/
packages/**/lib/
**/*.tsbuildinfo

documents/
!documents/timesheet.md

# Firebase emulator
.firebaserc
firebase.json
firebase-debug.log

# Firebase configs
backend/firebase*.json
frontend/firebase*.json
