.leaflet-bar.grouped-controls {
  display: flex;
  flex-direction: column;
}

.leaflet-control-center-map-to {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  display: inline-block;
  background-image: url(assets/icons/center-map-to.svg);
}

.leaflet-control-center-map-to.disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

.leaflet-control-vessel-trail {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(assets/icons/vessel-trail.svg);
}

.leaflet-control-vessel-trail.on {
  background-image: url(assets/icons/vessel-trail-on.svg);
}

.leaflet-control-onscreen-display {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-left: 3px;
  display: inline-block;
  background-image: url(assets/icons/overlay-data.svg);
}

.leaflet-control-onscreen-display-overlay {
  background: rgba(255, 255, 255, 0.7);
}

.leaflet-control-onscreen-display-overlay td {
  text-align: center;
}

.leaflet-control-onscreen-display-overlay td.double {
  font-weight: bold;
  font-size: 1.25em;
}

.leaflet-marker-vessel-popup {
  background: white;
}

.leaflet-marker-vessel-popup h4 {
  border-bottom: 1px solid rgb(195, 198, 207); /* lightTheme.colors.outlineVariant */
}

.leaflet-marker-vessel-popup-grid {
  display: grid;
  gap: 1px 1px;
}

.leaflet-marker-vessel-popup-grid div {
  display: flex;
  justify-content: space-between;
}

.leaflet-marker-vessel-popup-grid strong.leaflet-marker-vessel-big {
  font-size: 1.25em;
}
